---
const { src, title } = Astro.props;
---

<div class="audio-player">
  <p>{title}</p>
  <audio controls>
    <source src={src} type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</div>

<style>
  .audio-player {
    margin: 1rem 0;
  }
  audio {
    width: 100%;
  }
  p {
    margin: 0.25rem 0;
    font-weight: bold;
  }
</style>
