---
const { title } = Astro.props;
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;500&display=swap">
  </head>
  <body>
    <main>
      <slot />
    </main>

    <footer>
      <p>© {new Date().getFullYear()} Finnma Audio / All Rights Reserved</p>
    </footer>
  </body>
</html>

<style>
  html, body {
    height: 100%;
    margin: 0;
    background: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  main {
    flex: 1;
  }
</style>
